/**
* Base template
*
*/
html {overflow-x: hidden;}

body {
	font-family: @fontbody;
	font-size: @baseFontSize;
	text-align: center;
}

a {transition: all 0.3s; }

strong {font-weight: 700; color: darken(@gris, 5%)}

em  {font-style: italic;}

// creditos

.copy {
    width: 226px;
    font-size: 1.2em;
    margin: 10px 40px 10px 0;
    float: right;
    text-align: right;
    clear: right;
}
.sainet a{
    text-decoration: none;
    color: @gris;
    font-size: 12px;	
    // font-family: 'Arimo';
}
.copy img{
    vertical-align: middle;
    display: inline-block;
}

// elementos flotantes

.logos-lateral {
	position: absolute;
	left: 0;
	.size(25px, 283px);
	background: @grislateral;
	ul {
		li {
			margin: 5px 0;
		}
	}
}
.login-greeting{ text-align: center;
	.saludo{
		text-align: center;
		margin: 17px 0;
		color: #fff;
		font-weight: bold;
		font-size: 18px;	
		display: inline-block;
	}

	.ver-extractos{
		text-align: center;
		margin: 0px 0;
		display: inline-block;
		a{
			color: #fff;
			font-weight: bold;
			font-size: 18px;	
			text-decoration: none;
			border-bottom: 1px solid;
		}
	}
	.vencimiento{
		text-align: center;
		margin: 10px 0 4px;
		display: inline-block;
		a{
			color: rgb(221, 101, 101);
			font-weight: 400;
			font-size: 15px;	
			text-decoration: none;
			font-family: @pfont;
			border-bottom: 1px solid;
		}
	}
}

.botones-lateral {
	position: fixed;
	right: 0;
	.size(auto, auto);
	z-index: 300;

	.mail-marketing {
		.size(50px, 46px);
		background: #3692D3;
		margin-bottom: 3px;
		transition: all 0.2s;

		&:hover {border-radius: 7px 0 0 7px;}

	}

	.chat {
		.size(50px, 46px);
		background: #E84C00;
		margin-bottom: 3px;
		transition: all 0.2s;

		&:hover {border-radius: 7px 0 0 7px;}

		img {
			margin-top: 7px;
		}

	}

	.videos {
		.size(50px, 46px);
		background: #D82713;
		transition: all 0.2s;

		&:hover {border-radius: 7px 0 0 7px;}

		img {
			margin-top: 7px;
		}
	}

}


// Header

header {
	.size(100%, auto);
	float: left;

	#header-center {
		.size(1023px, auto);
		border-top: 3px solid @azul;
		margin: 0 auto;
		.striped;

		.header-top {
			.size(1023px, auto);
			display: inline-block;
			border-bottom: 2px solid @azul;
			margin-bottom: 3px;

			.logo-global {
				.size(580px, auto);
				float: left;
				text-align: left;
				padding: 12px 0 5px 30px;
			}

			.left-header {
				.size(150px, 98px);
				float: right;

				.idiomas {
					text-align: right;
					padding-right: 15px;
					padding-top: 8px;

					p{
						font-size: @smallFont;
						color: @grisoscuro;

						a {
							text-decoration: none;
							color: @azul;
						}
					}
				}

				.redes {
					text-align: right;
					margin-top: 26px;
					padding-right: 10px;

					ul {
						li {
							display: inline-block;
							margin: 0 5px;
							img {
								transition: all .3s;
								&:hover {transform: scale(1.1);}
							}
						}
					}
				}
			}
		}

		nav {
			// .size(1000px, 54px);
			height: 54px;
			.menugradient;
			clear: both;
			padding: 0 16px;
			box-shadow: 0 11px 6px -8px rgba(0, 0, 0, 0.4);
			position: relative;
			z-index: 400;

			.menu {
				li {
					position: relative;
					display: inline-block;
					vertical-align: top;
					height: 54px;
					border-left: 2px solid @azul;

					&.current.active > a {
						background: @blanco;
						color: @azul;
					}

					a {
						padding: 10px 10px 0;
						font-size: @mediumFont;
						font-weight: 300;
						color: @blanco;
						text-decoration: none;
						height: 44px;
						display: inline-block;

						&:hover {
							background: @blanco;
							color: @azul;
						}

					}

					ul {
						.submenugradient;
						border-top: 3px solid #004366;
						border-bottom: 1px dashed @gris;
						height: 0;
						left: -2px;
						position: absolute;
						top: 54px;
						visibility: hidden;
						width: 311px;
						z-index: 99992;
			            min-width: 50px;
			            padding: 3px;
			       



			            li {

			                display: block;
			                border: none;
			                border-bottom: 1px dashed rgba(255,255,255,0.3);
			                width: auto;
			                text-align: left;
			                margin: 0;
			                padding: 0;
			                height: auto;

			                &:last-child{
			                    border:none;
			                }

			                a{
			                    padding:10px 0;
			                    background-image: none;
			                    color: #FFF;
			                    font-size: 17px;
			                    padding: 14px 6px 14px 14px;
			                    width: 94%;
			                    height: auto;
			                    margin: 0;
			                    transition:all .1s;
			                    width: 91%;
			                }

			                ul{
			                	height: 0;
			                    min-width: 50px;
			                    width: 205px;
			                    overflow: hidden;
			                    visibility: hidden;
			                    position: absolute;
			                    z-index: 999;
			                    top: -14px;
			                    left: 314px;
			                    padding: 3px;
			                    
			                    margin-top: 8px;
			                    border-left: 2px solid #004366;
			                }

			                &:hover{

			                    & > ul{
			                        height: auto;
			                        visibility: visible;
			                    }
			                }
			              }    
			        }

			        &:hover{
			             & > ul{
			                height: auto;
			                visibility: visible;
			            }
			        }

				}
			}
		}
	}
}

.item-108 {
	a {
		width: 111px;
	}
}

.item-196 {
	a {
		width: 123px;
	}
}

.item-109, .item-209 {
	a {
		width: 106px;
	}
}

.item-110, .item-214 {
	a {
		width: 72px;
	}
}

.item-111, .item-218 {
	a {
		width: 104px;
	}
}

.item-112, .item-222 {
	a {
		width: 99px;
	}
}

section.mapa-navegacion {
	.size(963px, auto);
	margin: 0 auto;
	padding: 7px 30px 15px 30px;
	background: @grisclaro;
	position: relative;
	&:before {
		position: absolute;
		content: "";
		.size(534px, 18px);
		background: url("../images/inicio/sombra.png") no-repeat;
		top: -18px;
		left: 222px;
	}

	h3 {
		font-family: @titlefont;
		font-size: @menubottomf;
		text-align: left;
		border-bottom: 1px solid #ccc;
		padding-bottom: 3px;
		margin-bottom: 12px;
	}

	table {
		tr {
			td {
				text-align: left;
				font-size:@menubottomf;
				border-right: 1px solid #ccc;
				padding-left: 10px;
				padding-right: 5px;

				&:first-child {padding-left: 0;}
				&:last-child {border-right: 0; padding-right: 0;}

				h3 {
					margin-bottom: 5px;
					color: #1a1a1a;
					border-bottom: 0;
					padding-bottom: 0;
					a {
						color: #1a1a1a;
						text-decoration: none;
					}

				}
				ul {
					li {
						font-size: @menubottomf;
						color: #4d4d4d;
						margin-bottom: 5px;
						a {
							text-decoration: none;
							color: #4d4d4d;
							&:hover {text-decoration: underline;}
						}
					}
				}
			}
		}
	}
}

.two-column {
	ul {
		float: left;
		width: 50%;
	}
}

.borde-top {
	border-top: 2px solid rgba(255,255,255,0.3);
	padding-top: 5px;
}


// main

main {
	.size(963px, auto);
	margin: -42px auto 0;
	padding: 90px 30px 0;
	display: inline-block;
	.striped;

	section.main-top {
		.size(100%, auto);
		display: inline-block;	
		
	}

	.like {
		text-align: left;
		padding: 30px 0;
		clear: both;

		iframe {width: 150px;}
	}
}




// Footer

footer {
	.size(1023, auto);
	margin: 0 auto;
	display: inline-block;

	address {
		.size(963px, auto);
		.blackgradient;
		padding: 10px 30px;
		text-align: left;
		color: @blanco;
		font-size: @smallFont;

		table {
			tr {
				td {
					ul {
						margin-bottom: 10px;
						li {
							margin-bottom: 2px;
							padding:3px 0 3px 20px ;

							&:first-child {
								background: url("../images/inicio/icono-direccion.png") no-repeat center left;
							}

						}
					}
				}
			}
		}
	}
	.creditos {
		.size(963px, auto);
		.striped;
		padding: 0 30px;
		display: inline-block;

		.copy {
		    width: 226px;
		    font-size: 1.2em;
		    margin: 3px 0;
		    float: right;
		    text-align: right;
		    clear: right;
		}
		.sainet a{
		    text-decoration: none;
		    color: @gris;
		    font-size: 12px;	
		    // font-family: 'Arimo';
		}
		.copy img{
		    vertical-align: middle;
		    display: inline-block;
		}
	}
}


// videos

#jcemediabox-popup-caption {
	h4 {
		opacity: 0;
	}
}

// Notifications
.global-notification {

	display: none;
	position: fixed;
	padding: 10px;
	width: 400px;
	top: 200px;
	left: 50%;
	margin-left: -200px;
	border: 1px solid #7A7260;
	background-color: lighten( #FFC633, 25%);
	.box-shadow( 0px 0px 6px darken(@gris, 50%) );
	color: darken(@gris, 60%) ;
	font-size: 1.5rem;
	text-align: center;
	z-index: 99999999;

	&.red { color: darken(red, 30%) }
}