body {
	.bodygradientcont;
}

aside.lateral {
	.size(282px, auto);
	float: left;
}

section.content-main {
	.size(655px, auto);
	float: right;
}

main {
	.wrap {
		.size(100%, auto);
		display: inline-block;

		aside.lateral {
			.size(282px, auto);
			float: left;
			text-align: left;

			.login {
				.size(283px, 195px);
				background: #00528F;
				float: right;
				text-align: left;
				border-radius: 4px;
				position:relative;       
				-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.1) inset;
				-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.1) inset;
				box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.1) inset;

				&:before, &:after {
					content:"";
				    position:absolute; 
				    z-index:-1;
				    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.9);
				    -moz-box-shadow:0 0 20px rgba(0,0,0,0.9);
				    box-shadow:0 0 20px rgba(0,0,0,0.9);
				    top:50%;
				    bottom:0;
				    left:10px;
				    right:10px;
				    -moz-border-radius:100px / 10px;
				    border-radius:100px / 10px;
				} 

				&:after {
					right:10px; 
				    left:auto;
				    -webkit-transform:skew(8deg) rotate(3deg); 
					-moz-transform:skew(8deg) rotate(3deg);     
					-ms-transform:skew(8deg) rotate(3deg);     
					-o-transform:skew(8deg) rotate(3deg); 
					transform:skew(8deg) rotate(3deg);
				}

				h3 {
					display: inline-block;
					background: @blanco;
					color: @azul;
					font-family: @titlefont;
					font-size: @normalFont;
					margin-bottom: 5px;
				    margin-top: 5px;
				    padding: 4px 85px 4px 13px;
				    box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
				}

				#login-form {
					padding: 0 15px;

					ul {
						width: 60%;
						float: left;
						margin-top: -27px;

						li {
							position: relative;
							padding-left: 22px;
							margin-bottom: 7px;
							&:before {
								position: absolute;
								content: ">";
								width: 13px;
								height: 13px;
								border-radius: 100%;
								top: -3px;
								left: 2px;
								color: @blanco;
								font-weight: 600;
								font-size: 18px;
							}

							a {
								font-family: @titlefont;
								font-size: @smallFont;
								color: @blanco;
								text-decoration: none;
								&:hover {text-decoration: underline;}
							}
						}
					}

					.button {
						float: right;
						background: url("../images/inicio/button.png") no-repeat right center, @blanco;
						color: @naranja;
						border: 0;
						padding: 4px 12px;
						border-radius: 3px;
						cursor: pointer;
						margin-top: 12px;
						transition: all .3s;
						&:hover {background:url("../images/inicio/button.png") no-repeat right center, @twitter; color:@blanco;}
				
					}

					#form-login-remember {display: none;}

					label {
						font-family: @titlefont;
						font-size: @smallFont;
						width: 252px;
						display: inline-block;
						color: @blanco;
						margin-bottom: 2px;
					}

					#modlgn-username, #modlgn-passwd {
						.size(207px, 25px);
						border: 0;
						border-radius: 4px;
						margin-bottom: 5px;
						padding-left: 40px;

					}

					#modlgn-username {background: url("../images/inicio/user.png")no-repeat center left, @blanco;}

					#modlgn-passwd {background: url("../images/inicio/pass.png")no-repeat center left, @blanco !important; color: #000;}
				}

			}
		}

		section.content-main {
			.size(629px, auto);
			float: right;
			text-align: left;
			background: @blanco;
			box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
			border-radius: 5px;
			position: relative;
			padding: 65px 13px 20px 13px;
			min-height: 346px;

			hr {
				border-top: 0;
				border-right: 0;
				border-left: 0;
				border-bottom: 2px dashed #ccc;
				margin: 25px 0;
			}

			iframe {max-width: 630px; }

			h3 {
				font-family: @titlefont;
				font-size: @mediumFont;
				color: @blanco;
				background: @azul;
				display: inline-block;
				clear: both;
				padding: 7px 10px;
				text-transform: uppercase;
				margin-left: 37px;
				margin-bottom: 20px;
			}

			h4 {
				color: @blanco;
				background: @azulclaro;
				font-family:@pfont;
				font-weight: 600;
				padding: 6px;
				margin-bottom: 20px;
			}

			h2 {
				position: absolute;
				top: 0;
				left: 0;
				width: 642px;
				.whitegradient;
				padding: 12px 0 16px 13px;
				border-radius: 5px 5px 0 0;
				box-shadow: 0 8px 8px -7px rgba(0, 0, 0, 0.3);
				color: @azul;
				font-family: @titlefont;
				font-size: @largeFont;
				text-transform: uppercase;
				&:before {
					position: absolute;
					content: "";
					bottom: 10px;
					left: 13px;
					.size(620px, 2px);
					background: @azul;
				}
			}

			a {
				color: @naranja; 
				text-decoration: none;
				&:hover {
					color: @azul;
				}
			}

			p {
				font-family: @pfont;
				color: @gris;
				text-align: justify;
				line-height: @inter;
			}

			ol {
				margin: 10px 0 10px 21px;
				list-style-type: none;

				li {
					font-family: @pfont;
					color: @gris;
					text-align: left;
					line-height: @inter;
					margin-bottom: 15px;
					counter-increment: count-me;

					&:before {
						content: counter(count-me) ") ";
					    display: block;
					    position: relative;
					    max-width: 0px;
					    max-height: 0px;
					    left: -1.3em;
					    top: .05em;
					    color: @naranja;
					    font-weight: bold;
					}
				}
			}

			ul {
				margin: 10px 0 10px 21px;

				li {
					list-style-image: url("../images/inicio/lista.png");
					font-family: @pfont;
					color: @gris;
					text-align: justify;
					line-height: @inter;
					margin-bottom: 15px;

					ul {
						li {
							list-style-image: none;
							list-style-type: circle;
						}
					}
				}
			}
		}

	}
}

// redes lateral

.botones-lateral {
	top: 367px;
}

.logos-lateral {
	top: 300px;
}

// menus laterales

.moduletablemenu-lateral {
	.menuintgradient;
	border-radius: 4px;
	margin-bottom: 25px;
	padding: 5px 0;
	box-shadow: 0 11px 6px -8px rgba(0, 0, 0, 0.4);

	h3 {
		.menutitle;
		background: @blanco;
		color: @naranja;
	}

	.menu {
		.whitegradient;
		padding: 9px 15px;
		box-shadow: inset  0  8px 8px -8px #696868, inset  0 -8px 8px -8px #696868;

		li {
			border-bottom: 1px solid @grisoscuro;
			padding: 6px 0;
			&:last-child {margin-bottom: 3px;}

			&.current.active a {color: @naranja;}

			a {
				color: @azul;
				text-decoration: none;
				&:hover {color: @naranja;}
			}

		}
	}
}

.moduletablemenu-lateral-inversion {
	.blackgradient;
	border-radius: 4px;
	margin-bottom: 25px;
	padding: 5px 0;
	box-shadow: 0 11px 6px -8px rgba(0, 0, 0, 0.4);

	h3 {
		.menutitle;
		background: @azul;
		color: @blanco;
	}

	.menu {
		.whitegradient;
		padding: 9px 15px;
		box-shadow: inset  0  8px 8px -8px #696868, inset  0 -8px 8px -8px #696868;

		li {
			border-bottom: 1px solid @grisoscuro;
			padding: 6px 0;
			&:last-child {margin-bottom: 3px;}

			&.current.active > a {color: @naranja;}

			a {
				color: @azul;
				text-decoration: none;
				&:hover {color: @naranja;}
			}

			ul {
				margin: 8px 0 0 20px;

				li {
					&:first-child {border-top: 1px solid @grisoscuro;}
					&:last-child {border-bottom: 0; margin-bottom: 0;}

					&.current.active a {color: @verde;}

					a {
						color: @negro;
						&:hover {color: @verde;}
					}

				}
			}

		}
	}
}

.moduletablemenu-lateral-conocimiento {
	.orangemenu;
	border-radius: 4px;
	margin-bottom: 25px;
	padding: 5px 0;
	box-shadow: 0 11px 6px -8px rgba(0, 0, 0, 0.4);

	h3 {
		.menutitle;
		background: @blanco;
		color: @azul;
	}

	.menu {
		.whitegradient;
		padding: 9px 15px;
		box-shadow: inset  0  8px 8px -8px #696868, inset  0 -8px 8px -8px #696868;

		li {
			border-bottom: 1px solid @grisoscuro;
			padding: 6px 0;
			&:last-child {margin-bottom: 3px;}

			&.current.active a {color: @naranja;}

			a {
				color: @azul;
				text-decoration: none;
				&:hover {color: @naranja;}
			}

		}
	}
}

.moduletablemenu-lateral-invertir {
	.greengradient;
	border-radius: 4px;
	margin-bottom: 25px;
	padding: 5px 0;
	box-shadow: 0 11px 6px -8px rgba(0, 0, 0, 0.4);

	h3 {
		.menutitle;
		background: @blanco;
		color: @azul;
	}

	.menu {
		.whitegradient;
		padding: 9px 15px;
		box-shadow: inset  0  8px 8px -8px #696868, inset  0 -8px 8px -8px #696868;

		li {
			border-bottom: 1px solid @grisoscuro;
			padding: 6px 0;
			&:last-child {margin-bottom: 23px;}

			&.current.active a {color: @naranja;}

			a {
				color: @azul;
				text-decoration: none;
				&:hover {color: @naranja;}
			}

		}
	}
}

.moduletablemenu-lateral-ecopetrol {
	.darkgreengradient;
	border-radius: 4px;
	margin-bottom: 25px;
	padding: 5px 0;
	box-shadow: 0 11px 6px -8px rgba(0, 0, 0, 0.4);

	h3 {
		.menutitle;
		background: @blanco;
		color: @azul;
	}

	.menu {
		.whitegradient;
		padding: 9px 15px;
		box-shadow: inset  0  8px 8px -8px #696868, inset  0 -8px 8px -8px #696868;

		li {
			border-bottom: 1px solid @grisoscuro;
			padding: 6px 0;
			&:last-child {margin-bottom: 23px;}

			&.current.active a {color: @naranja;}

			a {
				color: @azul;
				text-decoration: none;
				&:hover {color: @naranja;}
			}

		}
	}
}


// estilos de imagenes

.borde {
	padding: 3px;
	background: lighten(@gris, 55%);
}

.sombra {
	padding: 3px;
	background: @blanco;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
	border-radius: 6px;
}


// tabla descarga

.tabla-descarga {
	margin-top: 10px;

	tr {
		td {
			padding: 0 0 25px 20px;
		}
	}
}

.pdf {
	position: relative;
	font-family: @titlefont;
	font-size: @mediumFont;
	color: @azul !important;
	padding-left: 62px;
	display: inline-block;
	line-height: 20px;

	&:hover {color: @naranja !important;}

	&:before {
		position: absolute;
		content: "";
		top: -2px;
		left: 0;
		.size(55px, 22px);
		background: url("../images/inicio/pdf-icon.png")no-repeat;
	}
}

.descargue-titulo {
	color: @blanco;
	.orangegradient;
	position: relative;
	padding: 7px 14px 7px 57px;
	margin: 13px 0 8px -14px;
	display: inline-block;

	&:before {
		position: absolute;
		content: "";
		top: 11px;
		left: 30px;
		.size(0px , 0px);
	    border-left: 7px solid transparent;
	    border-right: 7px solid transparent;
	    border-top: 8px solid @blanco;
	}
}


// tablas equipo

.equipo-izquierda {
	width: 72% !important;
	margin: 0 auto;

	tr {
		td {
			vertical-align: middle;
		}
	}
}

.equipo-derecha {
	width: 72% !important;
	margin: 0 auto;

	tr {
		td {
			vertical-align: middle;

		}
	}
}

.imagen-equipo {
	position: relative;
	width: 185px;

	&:after {
		position: absolute;
		content: "";
		top: 42%;
		right: 9px;
		.size(0px, 0px);
		border-top: 14px solid transparent;
	    border-left: 15px solid @negro;
	    border-bottom: 14px solid transparent;

	}
	img {
		border-radius: 100%;
		background: @negro;
		padding: 3px;
		max-width: 158px;
		max-height: 161px;
	}
}

.imagen-equipo2 {
	position: relative;
	text-align: right;
	width: 185px;

	&:before {
		position: absolute;
		content: "";
		top: 42%;
		left: 7px;
		.size(0px, 0px);
		border-top: 14px solid transparent;
	    border-right: 15px solid @negro;
	    border-bottom: 14px solid transparent;

	}
	img {
		border-radius: 100%;
		background: @negro;
		padding: 3px;
		max-width: 158px;
		max-height: 161px;
	}
}

.equipo-nombre {
	.blackgradient;
	color: @blanco;
	height: 27px;
	padding-left: 15px;
}

.equipo-correo {
	border: 2px solid #000;
	height: 23px;
	padding-left: 36px;
	background: url("../images/inicio/correo-equipo.png")no-repeat center left;
}


.email {
	width: 40% !important;

	tr {
		td {
			vertical-align: middle;
			border: 2px solid @azul;
			height: 23px;
			padding-left: 36px;
			background: url("../images/inicio/correo-inversion.png")no-repeat center left;
		}
	}
}


.tabla-global {
	tr {
		td {
			padding: 10px;
		}
	}
}

.tabla-global-columnas {
	tr {
		td {
			padding: 10px;

			&:first-child {
				border-right: 2px dashed lighten(@gris, 40%);
			}
		}
	}
}

.fila-blanca {background: @blanco;}

.fila-gradacion {
	.fadegradient;
}

.fila-gradacion-izquierda {
	.fadegradient-left;
}

.fila-gradacion-derecha {
	.fadegradient-right;
}

// textos resaltados

.resaltado-gris {color:darken(@gris, 15%);}

.resaltado-azul {color: @azul;}

.resaltado-naranja {color: @naranja !important;}


// titulos principales

.item-pageconocimiento {
	h2 {
		&:before {background: @naranja !important;} 
	}
}

.item-pageinvertir {
	h2 {
		&:before {background: @verdeclaro !important;} 
	}

	ul {margin: 10px 0 10px 36px !important;}
}

.item-pageecopetrol {
	h2 {
		&:before {background: @verde !important;} 
	}
	h3 {
		margin-left: 0 !important;
		margin-top: 30px;
	}
}


//modulo acordeon

div.nn_sliders_slider {margin-top: -3px !important;}


div.nn_sliders_slider a {
	background: url("../images/inicio/slider-open.png") no-repeat center right, @azulclaro;
    margin-bottom: 0px;
	color:@blanco !important;
	font-family: @titlefont;
	font-size:@mediumFont;
	margin-top:3px;
	padding-left:19px !important;
	padding-top:6px;
	padding-bottom:5px;
	border-radius: 0;
}

	
div.nn_sliders_slider a:hover {
	background: url("../images/inicio/slider-close.png") no-repeat center right, @azulclaro !important;
    margin-bottom: 0px;
	color:@blanco !important;
	font-size:@mediumFont;
	margin-top:3px;
	padding-left:19px !important;
	padding-top:6px;
	padding-bottom:5px;
	border-radius: 0;	
}
	
div.nn_sliders_slider.active a, div.nn_sliders_slider.active a:hover {
	background: url("../images/inicio/slider-close.png") no-repeat center right, @azulclaro !important;
    margin-bottom: 0px;
	color:@blanco !important;
	font-size:@mediumFont;
	margin-top:3px;
	padding-left:19px !important;
	padding-top:6px;
	padding-bottom:5px;
	border-radius: 0;
}
	
div.nn_sliders_content_wrapper div.nn_sliders_content {
	border:0 !important;
	padding-bottom: 27px !important;
    padding-left: 23px !important;
    padding-top: 15px !important;
	border-radius: 0;
	background: #F2F2F2;
	font-family: @fontbody !important;
	box-shadow: inset  0  8px 8px -8px rgba(0,0,0,0.3), inset  0 -8px 8px -8px rgba(0,0,0,0.3);
	margin-bottom: -1px;
	color: @gris;
}

div.nn_sliders_content_wrapper div.nn_sliders_content h3 {
	color: @azul !important;
	font-family: @titlefont !important;
	font-size: @largeFont !important;
	margin-bottom: 15px !important;
	background: transparent !important;
	margin-left: 0 !important;
	padding: 0 !important;
}

div.nn_sliders_content_wrapper div.nn_sliders_content p, div.nn_sliders_content_wrapper div.nn_sliders_content ul li {
	font-family: @fontbody !important;
	color: @gris;
}

div.nn_sliders_container div.nn_sliders_slider:first-child span a {
	border-radius: 10px 10px 0 0;
}

div.nn_sliders_container div.nn_sliders_slider:last-child span a {
	border-radius: 0 0 10px 10px;
}

// conocimiento economico

.franja-audio {
	width: 655px !important;
	margin: 20px 0 20px -13px;

	td {
		color: @blanco;
		.orangemenu;
		padding: 12px 68px 12px 114px;
		line-height: 18px;
		font-size: @mediumFont;
		position: relative;

		&:before {
			position: absolute;
			content: "";
			top: -10px;
			left: 17px;
			.size(81px, 84px);
			background: url("../images/inicio/play-icon.png")no-repeat;
			z-index: 2;
		}

		&:after {
			position: absolute;
			content: "";
			bottom: -19px;
			left: 62px;
			.size(532px, 19px);
			background: url("../images/inicio/shadow.png")no-repeat;
		}
	}
}

ul.podmanfeed {
	margin-left: 54px !important;

	li {
		list-style-image: none !important;
		margin-bottom: 40px !important;
		font-size: @otherFont;

		audio {margin-bottom: -16px;}
	}
}

.tabla-invertir {
	td {
		vertical-align: middle;
		font-family: @pfont;
		font-weight: 600;
		color: darken(@gris, 20%);
		line-height: @h2Font;

		span {color: lighten(@gris, 10%);}

		&:first-child {width: 77px;}
	}
}

.datos-contenido {
	ul {
		margin-left: 19px !important;

		li {
			list-style-image: none !important;
			padding-left: 20px;
			margin-bottom: 8px !important;

			&:nth-child(1){background: url("../images/inicio/dir-icon.png")no-repeat center left;}
			&:nth-child(2){background: url("../images/inicio/phone-blue-icon.png")no-repeat center left;}
		}
	}
}

.tabla-descargas {
	td {
		padding: 10px;

		a {
			background: url("../images/inicio/download-icon.png")no-repeat center left;
			margin-bottom: 8px;
			display: inline-block;
			padding-left: 20px;
			color: @gris !important;
			text-decoration: underline !important;
			&:hover {color: @verde !important;}
		}
	}
}

.contacto {
	font-family: @titlefont;
	font-size: @mediumFont;
	background: url("../images/inicio/conta-icon.png")no-repeat 8px center, @naranja;
	color: @blanco !important;
	border-radius: 20px;
	padding: 8px 25px 8px 55px;
	margin: 10px 0;
	display: inline-block;
	position: relative;
	left: 0;
	&:hover {left: 5px; background: url("../images/inicio/conta-icon.png")no-repeat 8px center, darken(@naranja, 5%); }

}

// noticias

.moduletablenoticias-contenidos {
	.nspArt {
		.greygradient;
		border-bottom: 1px dashed lighten(@gris, 20%);

		.readon {
			font-family: @titlefont;
			font-size: @smallFont;
			background: url("../images/inicio/noti-bt.png")no-repeat center right, @naranja;
			color: @blanco;
			padding: 7px 15px 7px 10px;
			border-radius: 3px;
			margin-top: 32px;
			position: relative;
			right: 0;

			&:hover {
				color: @blanco; 
				background:url("../images/inicio/noti-bt.png")no-repeat center right, @azul;
				right: 10px;
			}
		}

		p.nspText {line-height: 21px;}

		img.nspImage {
			border: 3px solid @azul;
			border-radius: 5px;
			opacity: 1;
			transition:all .3s;
			&:hover {border: 3px solid @gris; opacity: 0.8;}
		}

		h4.nspHeader {
			background: transparent;
			margin-bottom: 15px;
			width: 100%;
			padding: 0;
			a {
				border-bottom: 2px solid @azul;

			}
		}
	}
}

.detalle-bottom {
	.size(100%, auto);
	border-top: 1px dashed @gris;
	display: inline-block;
	padding: 10px 0 3px 0;
	margin-top: 30px;

	iframe {margin-left: 10px;}
}

.volver-noticias {
	font-family: @titlefont;
	font-size: @smallFont;
	background: url("../images/inicio/volver.png")no-repeat center left, @naranja;
	color: @blanco !important;
	padding: 5px 10px 5px 15px;
	border-radius: 3px;
	position: relative;
	right: 0;
	float: right;

	&:hover {
		color: @blanco; 
		background:url("../images/inicio/volver.png")no-repeat center left, @azul;
		right: 10px;
	}
}


// contacto

.tabla-conta {
	.submenugradient;
	margin-left: -13px;
	margin-bottom: -20px;
	border-radius: 0 0 5px 5px;

	p {color: @blanco !important;}

	.rsform-input-box {
		.size(570px, 31px);
		border: 0;
		border-radius: 3px;
		padding-left: 46px;
		margin-bottom: 7px;
		font-family: @titlefont;
		font-size: 14px;
		color: @gris;
	}


	.rsform-text-box {
		.size(570px, 130px);
		background: #F1F1F1;
		border: 0;
		border-radius: 3px;
		padding-left: 46px;
		padding-top: 10px;
		margin-top: 5px;
		margin-bottom: 7px;
		font-family: @titlefont;
		font-size: 14px;
		color: @gris;
	}

	.formCaption2 {display: none;}

	.rsform-block.rsform-block-mail ,.rsform-block.rsform-block-tel {
		float: left;
		width: 45%;
	}

	.rsform-block.rsform-block-mail {margin-right: 18px !important;}

	.rsform-block.rsform-block-mail input ,.rsform-block.rsform-block-tel input {width: 253px; display: inline-block;}

	fieldset.formFieldset { 
		ol.formContainer {
			margin: 0 0 0 13px;

			li {
			    clear: none;
			    margin-bottom: 0;

			    &:before {
			    	content: none !important;
			    }
			}
		
		} 
	}

	.rsform-submit-button {
		background: @naranja;
		color: #fff;
		border: 0;
		font-family: @titlefont;
		font-size: 14px;
		border-radius: 3px;
		padding: 3px 18px;
		cursor: pointer;
		float: right;
		margin: 12px 0 12px 16px;
		box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
		transition:all .3s;
		position: relative;
		bottom: 0;
		&:hover {
			bottom: 5px;

		}
	}

	.rsform-reset-button {
		background: @blanco;
		color: @azul;
		border: 0;
		font-family: @titlefont;
		font-size: 14px;
		border-radius: 3px;
		padding: 3px 18px;
		cursor: pointer;
		margin: 12px 0 12px 432px;
		box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
		transition:all .3s;
		position: relative;
		bottom: 0;
		&:hover {
			bottom: 5px;

		}
	}

	.formError {position: relative; top: -8px; color: @blanco;}

	.btn-primary {
	    margin-right: 275px;
	    margin-bottom: 30px;
	    margin-top: 25px;
	}

	input#nombre {
		background: url("../images/inicio/nombre.png")no-repeat center left, @blanco;
	}

	input#mail {
		background: url("../images/inicio/correo.png")no-repeat center left, @blanco;
	}

	input#tel {
		background: url("../images/inicio/tel.png")no-repeat center left, @blanco;
	}

	input#ciudad {
		background: url("../images/inicio/ciudad.png")no-repeat center left, @blanco;
	}

	textarea#mensaje {
		background: url("../images/inicio/mensaje.png")no-repeat top left, @blanco;
	}

	.formRed {color: @blanco !important; padding-left: 16px;}

}

.tabla-datos-contacto {
	td {
		vertical-align: top;
		&:first-child {padding-right: 40px;}

		strong {font-weight: 500 !important; color: darken(@gris, 40%) !important;}

		ul {
			border-bottom: 1px dashed lighten(@gris, 20%);
			margin-left: 0 !important;
			li {
				list-style-image: none !important;
				margin-bottom: 8px !important;
				font-family: @titlefont !important;
				padding-left: 40px;

				&:first-child {
					position: relative;
					&:before {
						position: absolute;
						content: "";
						top: 0;
						left: 8px;
						.size(21px, 32px);
						background: url("../images/inicio/datos-icon.png")no-repeat center left;
					}
				}
			}
		}
	}
}


.imagen-contacto {
	position: relative;
	width: 238px;

	&:before {
		position: absolute;
		content: "";
		top: 25%;
		left: -14px;
		.size(0px, 0px);
		border-top: 14px solid transparent;
	    border-right: 15px solid @negro;
	    border-bottom: 14px solid transparent;

	}
	img {
		border-radius: 100%;
		background: @negro;
		padding: 3px;
		box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
	}
}


