// Estilos de la vista donde el usuario va a visualizar los estractos
.boton-azul{
	color: @blanco;
	padding-bottom: 2px;
	background: none;
	border: none;
	border-bottom: 1px solid @blanco;
	font-family: @titlefont;
	font-size: 15px;
	padding: 4px 6px;
	background: @azul;
}

.cabecera-tabla{
	background: @azul;
	color: @blanco;
	padding: 13px;
	text-align: center;
}
#diagrama_charts{
	display: inline-block;
}
.content-main-extract{
	display: block;
	margin-top: -40px;
	
	.logout{
		display: inline-block;
		float: right;
		width: 114px;
		h3, .login-greeting{ display: none; }

		.logout-button{
			display: inline-block;
			text-align: center;

			input[type="submit"]{
				.boton-azul;
				cursor: pointer;
				width: 130px;
				height: 29px;
				padding-top: 5px;
				display: inline-block;
				margin-top: 3px;

				&:hover{
					opacity: 0.8;
				}
			}

		}
	}

	.logeo-link{
		width: 800px;
		float: right;
		background: #F7F7F8;
		height: 31px;

		span.mov{
			float: right;
			display: inline-block;
			text-align: center;
			margin: 8px 5px 0 0;

			a{ .boton-azul; }
		}

		span.ingreso{
			float: left;
			color: @naranja;
			margin: 5px 0 0 15px;
		}

		.my-account{
			.boton-azul;
			cursor: pointer;
			display: inline-block;
			margin-top: 3px;
			float: right;
			margin-right: 5px;
			text-decoration: none;
			width: 118px;
			height: 15px;
			padding-top: 9px;

			&:hover{
				opacity: 0.8;
			}

		}

	}

	.vencimiento{
		display: inline-block;
		width: 100%;
		text-align: right;
		margin-top: 5px;
		margin-left: 12px;
	

		a{
			text-decoration: none;
				color: #dd6565;
			font-weight: 400;
			font-size: 15px;
			text-decoration: none;
			font-family: 'Open Sans', sans-serif;
			border-bottom: 1px solid;
			text-align: right;
		}
	}

	.extracto-top{
		width: 100%;
		text-align: left;
		padding: 10px;
		font-family: @pfont;
		line-height: 27px;
		margin-top: 15px;
		float: left;
	}

	.extracto-usuario{
		width: 100%;
		float: left;

		table.info_detalle{ border-collapse: inherit; border-spacing: 2px;
			th{
				.cabecera-tabla;
			}
			tr{
				td{
					text-align: left;
					padding: 10px;
					font-family: @pfont;
					vertical-align: middle;

					.variable, .diagrama .fija, .o_liquidez, .s_disponible, .total, .c_margen, .garantia, .c_colectivas, .g_total,{
						float: right;
						font-family: @pfont;
					}

					&.resalta{
						background: @azulextract;
						color: @blanco;
						font-weight: bold;
					}
					&.td_diagrama{
						text-align: center;
						width: 50%;
					}
				}

				&:nth-child(2n+1){
					td{background: @azultransparente;}
				}
			}
		}

		table.cartera{border-collapse: inherit; border-spacing: 2px; margin-top: 30px;
			th{
				.cabecera-tabla;
				text-align: left;
			}

			tr{
				td{	padding: 10px; 	font-family: @pfont; width: 20%; }

				&.titulos{
					td{
						background: @amarillotransparente;
						text-align: left;
					}
				}
				&.subtitulos{
					td{
						background: @azulextract;
						text-align: left;
						color: @blanco;
					}
				}
				&.valores{
					td{
						background: @rosatabla;
						color: #000;
						text-align: right;
					}
				}								
			}
		}

		table.extract-pie{ margin-top: 45px;
			tr{
				td{	
					padding: 10px 0; 	
					font-family: @pfont; 
					vertical-align: middle;
					line-height: 19px;
					color: @gris;			

					img{margin-right: 35px;}		

					&.text-right{
						text-align: right;
						.title-pie{
							color: @azul;
							display: block;
							text-align: right;
							font-weight: bold;
						}
					}
					&.pie-complement{
						text-align: justify;
						border-top: 3px solid @gris;
						padding-top: 15px;
					}							
				}
			}
		}
	}


	.content-extractos{
		display: inline-block;
		width: 100%;
		margin-top: 25px;

		a{
			display: inline-block;
			width: 85px;
			height: 19px;
			background-color: #FA8624;
			color: #FFF;
			text-decoration: none;
			text-align: center;
			padding-top: 4px;
			margin-top: -6px;
			border-radius: 5px;
			font-size: 13px;
			position: relative;
			text-indent: -14px;

			&:before{
				position: absolute;
				content: "►";
				right: 5px;
				top: 8px;
				font-size: 9px;
			}


			&:hover{
				opacity: 0.8;
			}
		}

		.last-extractos{
			width: 50%;
			float: left;

			h3{
				text-align: left;
				padding-left: 12px;
				width: 411px;
			}

			.list-extractos{
				width: 88%;

				tr{
					background-color: #ECEDEF;
					height: 14px;
					padding: 11px;
					display: inline-block;
					width: 95%;
					margin-top: -3px;

					&:nth-child( 2n ){
						background-color: #D4DFEB;
						color: #434142;
					}

					td{
						width: 222px;
						text-align: left;
						color: #626262;

						&:last-child{
							text-align: right;

						}
					}
				}
			}
		}

		.historial-extractos{
			width: 50%;
			float: right;

			.content-historial{
				width: 420px;
				float: left;
				background-color: #ECEDEF;

				span{
					font-size: 14px;
					color: #808080;
					display: inline-block;
					margin-top: 14px;
					letter-spacing: 0px;
				}

				ul{
					display: inline-block;
					width: 95%;
					margin-top: 12px;
					margin-bottom: 10px;

					li{
						width: 40%;
						float: left;

						label{ color: #2C528E; }

						&:first-child, &:nth-child(3){ width: 10%; }
						
						select{ width: 140px; }

						&:nth-child(3){

							select{ width: 131px; }
						}


					}
				}

				a{
					float: right;
					margin-right: 20px;
					margin-top: 6px;
					height: 24px;
					padding-top: 9px;
					font-size: 15px;
					margin-bottom: 12px;

					&:before{
						top: 14px;
					}	
				}
			}
		}

		h3{
			background-color: #003456;
			width: 420px;
			height: 24px;
			color: #FFF;
			padding-top: 14px;
		}
	}	
}

#system-message{
	border: 1px solid #ccc;
	border-radius: 6px;
	padding: 5px;
	box-shadow: 1px 0 3px rgba(57, 89, 190, 0.8); 
	text-align: center;
	color: @azul;

	.error{color: red;}

	li{list-style-image: none; text-align: center;}
}