//Estilos de los formularios de registro de el componente de extractos

.enviar {
	background: @naranja;
	color: #fff;
	border: 0;
	font-family: @titlefont;
	font-size: 14px;
	border-radius: 3px;
	padding: 3px 18px;
	cursor: pointer;
	float: right;
	margin: 12px 10px 12px 16px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	transition:all .3s;
	position: relative;
	float: right;
	bottom: 0;
	&:hover {
		bottom: 5px;

	}
}

.reset{
	background: @azul;
	color: @blanco;
	border: 0;
	font-family: @titlefont;
	font-size: 14px;
	border-radius: 3px;
	padding: 3px 18px;
	cursor: pointer;
	margin: 12px 0 12px 16px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	transition:all .3s;
	position: relative;
	float: right;
	bottom: 0;
	&:hover {
		bottom: 5px;

	}
}

#componente-extractos{

	table.registros{ 
		margin-top: 20px;
		tr{ 
			td{	width: 50%;

				input[type="text"], input[type="password"] {
					width: 94%;
					border: 1px solid @azulintermedio;
					padding: 5px;
					font-size: 15px;
					color: @gris;
					margin: 4px 0 15px 0;
					box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.21);
					font-family: @titlefont;

				}

				label{
					width: 90%;
					display: inline-block;
					color: @gris;
					font-family: @titlefont;

				}
			}
			&:first-child{

				td{ 
					input[type="text"] {
						width: 97%;
					}
				}
			}	
		}	
	}
}

.reset_password, .reset-confirm, .reset-complete, .login.com{
	input[type="text"],input[type="password"]  {
		width: 70%;
		border: 1px solid @azulintermedio;
		padding: 5px;
		background: @blanco !important;
		font-size: 15px;
		color: @gris;
		margin: 4px 0 15px 0;
		box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.21);
		font-family: @titlefont;
		margin-left: 12%;

	}

	label{
		width: 70%;
		display: inline-block;
		color: @gris;
		font-family: @titlefont;
		text-align: center;
		margin-top: 10px;
		margin-left: 12%;
	}
	.validate.env{
		.enviar;
		float: none;
		margin-left: 39%;
	}

	button.env{
		.enviar;
		float: none;
		margin-left: 39%;
		margin-top: 0;
	}
	#remember-lbl, #remember{display: none;}
}
#system-message{
	border: 1px solid #ccc;
	border-radius: 6px;
	padding: 5px;
	box-shadow: 1px 0 3px rgba(57, 89, 190, 0.8);	
	color: @azul;

	.error{color: red;}

	li{list-style-image: none;}
}