body {
	.bodygradient;
}

header {
	background: @azulheader;
}

#banner {
	.size(100%, auto);
	border-bottom: 9px solid @azul;
	clear: both;
	text-align: center;

	.moduletable {
		.ju-slide-btns {
		    bottom: 198px;
		    position: absolute;
		    right: 585px;

		    .prev_button, .next_button {
				background: url("../images/inicio/flechas-banner.png") no-repeat, @naranja;
				.size(29px, 29px);
			}

			.prev_button {background-position: 5px 2px; left: 38px;}

			.next_button {background-position: -17px 2px;}
		}

		.default-simple {

			.ju-slide-desc {
				left: 487px;
				background: rgba(0,0,0,0.3);
				width: 680px;

				.label-title {
					color: @naranja;
					font-family: @fontbanner;
					font-size: 59px;
					text-transform: none;
					padding-top: 5px;
					margin-bottom: 2px;
					text-shadow:1px 1px 4px #000;
				}

				.label-desc {
					color: @blanco;
					font-family: @fontbanner;
					font-size: 36px;
					margin-bottom: 0;
					text-shadow:1px 1px 4px #000;
				}
			}
		}
	}
}

section.middle {
	.size(960px, auto);
	margin: -152px auto 0;
	// display: inline-block;
	position: relative;
	z-index: 200;

	.destacados {
		.size(665px, 195px);
		.blackgradient;
		border-radius: 4px;
		float: left;
		position:relative;       
		-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.1) inset;

		&:before, &:after {
			content:"";
		    position:absolute; 
		    z-index:-1;
		    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.9);
		    -moz-box-shadow:0 0 20px rgba(0,0,0,0.9);
		    box-shadow:0 0 20px rgba(0,0,0,0.9);
		    top:50%;
		    bottom:0;
		    left:10px;
		    right:10px;
		    -moz-border-radius:100px / 10px;
		    border-radius:100px / 10px;
		} 

		&:after {
			right:10px; 
		    left:auto;
		    -webkit-transform:skew(8deg) rotate(3deg); 
			-moz-transform:skew(8deg) rotate(3deg);     
			-ms-transform:skew(8deg) rotate(3deg);     
			-o-transform:skew(8deg) rotate(3deg); 
			transform:skew(8deg) rotate(3deg);
		}

		table {
			margin-left: 9px;
    		margin-top: 5px;

			tr {
				td {
					text-align: left;
					img {
						border: 2px solid @blanco;
					}

					a {
						color: @blanco;
						text-decoration: none;
						font-family: @titlefont;
						font-size: @otherFont;
						margin-top: 4px;
						display: inline-block;
						&:hover {
							color: #13B6F5;
						}
					}
				}
			}
		}
	}

	.login {
		.size(283px, 195px);
		background: #00528F;
		float: right;
		text-align: left;
		border-radius: 4px;
		position:relative;       
		-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.1) inset;

		&:before, &:after {
			content:"";
		    position:absolute; 
		    z-index:-1;
		    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.9);
		    -moz-box-shadow:0 0 20px rgba(0,0,0,0.9);
		    box-shadow:0 0 20px rgba(0,0,0,0.9);
		    top:50%;
		    bottom:0;
		    left:10px;
		    right:10px;
		    -moz-border-radius:100px / 10px;
		    border-radius:100px / 10px;
		} 

		&:after {
			right:10px; 
		    left:auto;
		    -webkit-transform:skew(8deg) rotate(3deg); 
			-moz-transform:skew(8deg) rotate(3deg);     
			-ms-transform:skew(8deg) rotate(3deg);     
			-o-transform:skew(8deg) rotate(3deg); 
			transform:skew(8deg) rotate(3deg);
		}

		h3 {
			display: inline-block;
			background: @blanco;
			color: @azul;
			font-family: @titlefont;
			font-size: @normalFont;
			margin-bottom: 5px;
		    margin-top: 5px;
		    padding: 4px 85px 4px 13px;
		    box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
		}

		#login-form {
			padding: 0 15px;

			ul {
				width: 60%;
				float: left;
				margin-top: -27px;

				li {
					position: relative;
					padding-left: 22px;
					margin-bottom: 7px;
					&:before {
						position: absolute;
						content: ">";
						width: 13px;
						height: 13px;
						border-radius: 100%;
						top: -3px;
						left: 2px;
						color: @blanco;
						font-weight: 600;
						font-size: 18px;
					}

					a {
						font-family: @titlefont;
						font-size: @smallFont;
						color: @blanco;
						text-decoration: none;
						&:hover {text-decoration: underline;}
					}
				}
			}

			.button {
				float: right;
				background: url("../images/inicio/button.png") no-repeat right center, @blanco;
				color: @naranja;
				border: 0;
				padding: 4px 12px;
				border-radius: 3px;
				cursor: pointer;
				margin-top: 12px;
				transition: all .3s;
				&:hover {background:url("../images/inicio/button.png") no-repeat right center, @twitter; color:@blanco;}
		
			}

			#form-login-remember {display: none;}

			label {
				font-family: @titlefont;
				font-size: @smallFont;
				width: 252px;
				display: inline-block;
				color: @blanco;
				margin-bottom: 2px;
			}

			#modlgn-username, #modlgn-passwd {
				.size(207px, 25px);
				border: 0;
				border-radius: 4px;
				margin-bottom: 5px;
				padding-left: 40px;

			}

			#modlgn-username {background: url("../images/inicio/user.png")no-repeat center left, @blanco;}

			#modlgn-passwd {background: url("../images/inicio/pass.png")no-repeat center left, @blanco !important; color: #000;}
		}

	}
}

main {

	section.main-top {
		.size(100%, auto);
		display: inline-block;

		.noticias {
			.size(340px, 222px);
			background: @grisclaro;
			float: left;
			border-radius: 4px;
			border: 2px solid @blanco;

			.nspArt {
				p.nspText {
					font-family: @pfont;
					font-size: @pfont;
					color: @gris;
					text-align: justify;
					width: 133px;
					display: inline-block;
					margin-top: 6px;
					line-height: 16px;

				}
				h4.nspHeader {
					width: 320px;

					a {
						font-family: @titlefont;
						font-size: @mediumFont;
						color: @naranja;
						text-decoration: none;

					}
				}

				img.nspImage {
					border: 2px solid @blanco;
				}

				.readon.fleft {
					font-family: @pfont;
					font-size: @normalFont;
					font-style: italic;
					text-decoration: none;
					color: @naranja;
					margin-top: 20px;
					&:hover {color: @azul;}
				}
			}
		}

		.twitter {
			.size(305px, 222px);
			background: @twitter;
			float: left;
			margin: 0 13px;
			border-radius: 4px;

			h3 {
				font-family: @titlefont;
				font-size: @mediumFont;
				text-align: left;
				color: @blanco;
				background: url("../images/inicio/icono-tw-modulo.png") no-repeat center left;
				padding: 5px 0 5px 30px;
				margin: 5px 0 5px 9px;
			}

			iframe {
				height: 175px;
			}
		}
		.indicadores {
			.size(285px, 222px);
			background: @azulindicadores;
			border-radius: 4px;
			float: left;

			h3 {
				font-family: @titlefont;
				font-size: @mediumFont;
				text-align: left;
				color: @blanco;
				margin: 11px 0 7px 9px;
			}

			#bgBody {
				background: @blanco;
				padding: 12px 10px;
				margin: 0 11px;
			}
		}
	}

	.like {
		text-align: left;
		padding: 30px 0;

		iframe {width: 150px;}
	}
}

.nspPagination {
	li {
		.size(10px, 10px);
		background: #E84C00;
		border-radius: 100%;
		opacity: 0.5;
		&:hover {opacity: 1;}
		&.active {opacity: 1;}
	}
}

.nspBotInterface, .nspTopInterface {
    bottom: -189px;
    margin: 5px 0;
    overflow: hidden;
    position: relative;
    right: 10px;
}

.botones-lateral {
	top: 467px;
}

.logos-lateral {
	top: 840px;
}

//Estilos para el teclado virtual
.ui-state-default{

}

.ui-corner-all{
	background: @azul!important;
	border-bottom-right-radius: 6px;
	padding: 4px 5px;
	margin: 1px;
	border: 1px solid #ccc;	

	.ui-state-active, .ui-state-active, .ui-widget-header .ui-state-active {
		background: #f58400 url(images/ui-bg_inset-soft_30_f58400_1x100.png) 50% 50% repeat-x !important;
	}
	.ui-widget button {
		font-family: @pfont!important;
		font-size: 1em;
		font-weight: lighter!important;
	}
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 2px outset buttonface!important;
	border-image-source: initial!important;
	border-image-slice: initial!important;
	border-image-width: initial!important;
	border-image-outset: initial!important;
	border-image-repeat: initial!important;
	box-sizing: border-box!important;
	border-radius: 0 !important;
	font-weight: lighter !important;
	border-color: #E7E1E1 !important;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-family: Segoe UI,Arial,sans-serif;
	font-size: 1em;
	background: #fff !important;
	color: #000 !important;
}

// Estilos de el calendario 

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	padding: 0;
}

.ui-keyboard.ui-widget-content.ui-widget.ui-corner-all.ui-helper-clearfix.ui-keyboard-has-focus {
	z-index: 999;
}

