//Estilos para el teclado virtual
.ui-state-default{

}

.ui-corner-all{
	background: @azul!important;
	border-bottom-right-radius: 6px;
	padding: 4px 5px;
	margin: 1px;
	border: 1px solid #ccc;	

	.ui-state-active, .ui-state-active, .ui-widget-header .ui-state-active {
		background: #f58400 url(images/ui-bg_inset-soft_30_f58400_1x100.png) 50% 50% repeat-x !important;
	}
	.ui-widget button {
		font-family: @pfont!important;
		font-size: 1em;
		font-weight: lighter!important;
	}
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 2px outset buttonface!important;
	border-image-source: initial!important;
	border-image-slice: initial!important;
	border-image-width: initial!important;
	border-image-outset: initial!important;
	border-image-repeat: initial!important;
	box-sizing: border-box!important;
	border-radius: 0 !important;
	font-weight: lighter !important;
	border-color: #E7E1E1 !important;	
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-family: Segoe UI,Arial,sans-serif;
	font-size: 1em;
	background: #fff !important;
	color: #000 !important;
}

// Estilos de el calendario 

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	padding: 0;
}