/**
* Mixins
*
*/

// CSS3 PROPERTIES
// --------------------------------------------------

.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

.margin(@margin-top, @margin-rl, @margin-bottom) {
  margin-top: @margin-top;
  margin-right: @margin-rl;
  margin-bottom: @margin-bottom;
  margin-left: @margin-rl;
}

.circle(){
  .border-radius( 100px );
  .box-shadow( -1px -1px 5px 2px #BEBBBB );
  position: relative;
}

// Border Radius
.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
      -ms-border-radius: @radius;
      -o-border-radius: @radius;
          border-radius: @radius;
}

// Single Corner Border Radius
.border-top-left-radius(@radius) {
  -webkit-border-top-left-radius: @radius;
      -moz-border-radius-topleft: @radius;
          border-top-left-radius: @radius;
}
.border-top-right-radius(@radius) {
  -webkit-border-top-right-radius: @radius;
      -moz-border-radius-topright: @radius;
          border-top-right-radius: @radius;
}
.border-bottom-right-radius(@radius) {
  -webkit-border-bottom-right-radius: @radius;
      -moz-border-radius-bottomright: @radius;
          border-bottom-right-radius: @radius;
}
.border-bottom-left-radius(@radius) {
  -webkit-border-bottom-left-radius: @radius;
      -moz-border-radius-bottomleft: @radius;
          border-bottom-left-radius: @radius;
}

// Single Side Border Radius
.border-top-radius(@radius) {
  .border-top-right-radius(@radius);
  .border-top-left-radius(@radius);
}
.border-right-radius(@radius) {
  .border-top-right-radius(@radius);
  .border-bottom-right-radius(@radius);
}
.border-bottom-radius(@radius) {
  .border-bottom-right-radius(@radius);
  .border-bottom-left-radius(@radius);
}
.border-left-radius(@radius) {
  .border-top-left-radius(@radius);
  .border-bottom-left-radius(@radius);
}

// Center-align a block level element
// ----------------------------------
.center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// IE7 inline-block
// ----------------
.ie7-inline-block() {
  *display: inline; /* IE7 inline-block hack */
  *zoom: 1;
}

// Sizing shortcuts
// -------------------------
.size(@width, @height) {
  width: @width;
  height: @height;
}
.square(@size) {
  .size(@size, @size);
}

// Icons
.get-icon( @width: 0, @height: 0, @x: 0, @y:0 ){

  .size(@height, @width);
  background-position: @x @y;
}

// Flex
.flex(){
  display: inline-flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
}

// Placeholder text
// -------------------------
.placeholder(@color: #000 ) {
  &:-moz-placeholder {
    color: @color;
  }
  &:-ms-input-placeholder {
    color: @color;
  }
  &::-webkit-input-placeholder {
    color: @color;
  }
}

// Transitions
.transition(@transition) {
  -webkit-transition: @transition;
     -moz-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}
.transition-delay(@transition-delay) {
  -webkit-transition-delay: @transition-delay;
     -moz-transition-delay: @transition-delay;
       -o-transition-delay: @transition-delay;
          transition-delay: @transition-delay;
}

// Transformations
.rotate(@degrees) {
  -webkit-transform: rotate(@degrees);
     -moz-transform: rotate(@degrees);
      -ms-transform: rotate(@degrees);
       -o-transform: rotate(@degrees);
          transform: rotate(@degrees);
}
.scale(@ratio) {
  -webkit-transform: scale(@ratio);
     -moz-transform: scale(@ratio);
      -ms-transform: scale(@ratio);
       -o-transform: scale(@ratio);
          transform: scale(@ratio);
}
.translate(@x, @y) {
  -webkit-transform: translate(@x, @y);
     -moz-transform: translate(@x, @y);
      -ms-transform: translate(@x, @y);
       -o-transform: translate(@x, @y);
          transform: translate(@x, @y);
}
.skew(@x, @y) {
  -webkit-transform: skew(@x, @y);
     -moz-transform: skew(@x, @y);
      -ms-transform: skewX(@x) skewY(@y); // See https://github.com/twitter/bootstrap/issues/4885
       -o-transform: skew(@x, @y);
          transform: skew(@x, @y);
  -webkit-backface-visibility: hidden; // See https://github.com/twitter/bootstrap/issues/5319
}
.translate3d(@x, @y, @z) {
  -webkit-transform: translate3d(@x, @y, @z);
     -moz-transform: translate3d(@x, @y, @z);
       -o-transform: translate3d(@x, @y, @z);
          transform: translate3d(@x, @y, @z);
}

// Opacity
.opacity(@opacity) {
  opacity: @opacity / 100;
  filter: ~"alpha(opacity=@{opacity})";
}

// Gradients
#gradient {
  .horizontal(@startColor: #333, @endColor: #000) {
    background-color: @endColor;
    background-image: -moz-linear-gradient(left, @startColor, @endColor); // FF 3.6+
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from(@startColor), to(@endColor)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(left, @startColor, @endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(left, @startColor, @endColor); // Opera 11.10
    background-image: linear-gradient(to right, @startColor, @endColor); // Standard, IE10
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",argb(@startColor),argb(@endColor))); // IE9 and down
  }

  .vertical-pie(@startColor: #313131, @endColor: #242122) {
    background-color: mix(@startColor, @endColor, 60%);
    background-image: -moz-linear-gradient(top, @startColor, @endColor); // FF 3.6+
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), to(@endColor)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(top, @startColor, @endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(top, @startColor, @endColor); // Opera 11.10
    background-image: linear-gradient(to bottom, @startColor, @endColor); // Standard, IE10
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@startColor),argb(@endColor))); // IE9 and down
  }


  .vertical(@startColor: #7E7E7E, @endColor: #343132) {
    background-color: mix(@startColor, @endColor, 60%);
    background-image: -moz-linear-gradient(top, @startColor, @endColor); // FF 3.6+
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), to(@endColor)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(top, @startColor, @endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(top, @startColor, @endColor); // Opera 11.10
    background-image: linear-gradient(to bottom, @startColor, @endColor); // Standard, IE10
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@startColor),argb(@endColor))); // IE9 and down
  }

  .vertical-title(@startColor: #333333, @endColor: #1a1a1a) {
    background-color: mix(@startColor, @endColor, 60%);
    background-image: -moz-linear-gradient(top, @startColor, @endColor); // FF 3.6+
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), to(@endColor)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(top, @startColor, @endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(top, @startColor, @endColor); // Opera 11.10
    background-image: linear-gradient(to bottom, @startColor, @endColor); // Standard, IE10
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@startColor),argb(@endColor))); // IE9 and down
  }

  .vertical-green(@startColor: #66ab29, @endColor: #399855) {
    background-color: mix(@startColor, @endColor, 60%);
    background-image: -moz-linear-gradient(top, @startColor, @endColor); // FF 3.6+
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), to(@endColor)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(top, @startColor, @endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(top, @startColor, @endColor); // Opera 11.10
    background-image: linear-gradient(to bottom, @startColor, @endColor); // Standard, IE10
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@startColor),argb(@endColor))); // IE9 and down
  }


  .directional(@startColor: #555, @endColor: #333, @deg: 45deg) {
    background-color: @endColor;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(@deg, @startColor, @endColor); // FF 3.6+
    background-image: -webkit-linear-gradient(@deg, @startColor, @endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(@deg, @startColor, @endColor); // Opera 11.10
    background-image: linear-gradient(@deg, @startColor, @endColor); // Standard, IE10
  }

  .vertical-three-colors(@startColor: #00b3ee, @midColor: #7a43b6, @colorStop: 50%, @endColor: #c3325f) {
    background-color: mix(@midColor, @endColor, 80%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), color-stop(@colorStop, @midColor), to(@endColor));
    background-image: -webkit-linear-gradient(@startColor, @midColor @colorStop, @endColor);
    background-image: -moz-linear-gradient(top, @startColor, @midColor @colorStop, @endColor);
    background-image: -o-linear-gradient(@startColor, @midColor @colorStop, @endColor);
    background-image: linear-gradient(@startColor, @midColor @colorStop, @endColor);
    background-repeat: no-repeat;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@startColor),argb(@endColor))); // IE9 and down, gets no color-stop at all for proper fallback
  }

  .vertical-four-colors( @startColor: #00b3ee, @secondColor: #FFF, @colorStop: 50%, @thirdColor: #000, @endColor: #d3d3d3 ){

    background: @startColor; /* Old browsers */
    background: -moz-linear-gradient(top, @startColor 0%, @secondColor @colorStop,  @thirdColor (@colorStop + 1), @endColor 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@startColor), color-stop(@colorStop,@secondColor), color-stop((@colorStop + 1), @thirdColor), color-stop(100%,@endColor)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, @startColor 0%,@secondColor @colorStop, @thirdColor (@colorStop + 1),@endColor 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, @startColor 0%,@secondColor @colorStop, @thirdColor (@colorStop + 1),@endColor 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, @startColor 0%,@secondColor @colorStop, @thirdColor (@colorStop + 1),@endColor 100%); /* IE10+ */
    background: linear-gradient(to bottom, @startColor 0%,@secondColor @colorStop, @thirdColor (@colorStop + 1),@endColor 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@startColor', endColorstr='@endColor',GradientType=0 ); /* IE6-9 */
  }

  .radial(@innerColor: #555, @outerColor: #333) {
    background-color: @outerColor;
    background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(@innerColor), to(@outerColor));
    background-image: -webkit-radial-gradient(circle, @innerColor, @outerColor);
    background-image: -moz-radial-gradient(circle, @innerColor, @outerColor);
    background-image: -o-radial-gradient(circle, @innerColor, @outerColor);
    background-repeat: no-repeat;
  }
  .striped(@color: #555, @angle: 45deg) {
    background-color: @color;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255,255,255,.15)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255,255,255,.15)), color-stop(.75, rgba(255,255,255,.15)), color-stop(.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(@angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(@angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(@angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(@angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
  }


}
// Reset filters for IE
.reset-filter() {
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}

.striped {
  background: url("../images/inicio/striped.png")repeat, @blanco;
}




// custom gradient

.bodygradient {
  background: #003355; /* Old browsers */
  background: -moz-linear-gradient(left,  #003355 0%, #009efb 49%, #003355 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#003355), color-stop(49%,#009efb), color-stop(100%,#003355)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #003355 0%,#009efb 49%,#003355 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #003355 0%,#009efb 49%,#003355 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #003355 0%,#009efb 49%,#003355 100%); /* IE10+ */
  background: linear-gradient(to right,  #003355 0%,#009efb 49%,#003355 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003355', endColorstr='#003355',GradientType=1 ); /* IE6-9 */
}

.menugradient {
  background: #005491; /* Old browsers */
  background: -moz-linear-gradient(left,  #005491 0%, #0071b9 49%, #005492 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#005491), color-stop(49%,#0071b9), color-stop(100%,#005492)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #005491 0%,#0071b9 49%,#005492 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #005491 0%,#0071b9 49%,#005492 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #005491 0%,#0071b9 49%,#005492 100%); /* IE10+ */
  background: linear-gradient(to right,  #005491 0%,#0071b9 49%,#005492 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005491', endColorstr='#005492',GradientType=1 ); /* IE6-9 */
}

.menuintgradient {
  background: #005593; /* Old browsers */
  background: -moz-linear-gradient(left,  #005593 0%, #0071b9 33%, #0071b9 50%, #0071b9 69%, #005593 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#005593), color-stop(33%,#0071b9), color-stop(50%,#0071b9), color-stop(69%,#0071b9), color-stop(100%,#005593)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #005593 0%,#0071b9 33%,#0071b9 50%,#0071b9 69%,#005593 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #005593 0%,#0071b9 33%,#0071b9 50%,#0071b9 69%,#005593 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #005593 0%,#0071b9 33%,#0071b9 50%,#0071b9 69%,#005593 100%); /* IE10+ */
  background: linear-gradient(to right,  #005593 0%,#0071b9 33%,#0071b9 50%,#0071b9 69%,#005593 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005593', endColorstr='#005593',GradientType=1 ); /* IE6-9 */
}

.submenugradient {
  background: #005491; /* Old browsers */
  background: -moz-linear-gradient(top,  #005491 0%, #0071b9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#005491), color-stop(100%,#0071b9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #005491 0%,#0071b9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #005491 0%,#0071b9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #005491 0%,#0071b9 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #005491 0%,#0071b9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005491', endColorstr='#0071b9',GradientType=0 ); /* IE6-9 */
}

.blackgradient {
  background: #1a1a1a; /* Old browsers */
  background: -moz-linear-gradient(left,  #1a1a1a 0%, #333333 30%, #333333 73%, #1a1a1a 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1a1a1a), color-stop(30%,#333333), color-stop(73%,#333333), color-stop(99%,#1a1a1a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #1a1a1a 0%,#333333 30%,#333333 73%,#1a1a1a 99%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #1a1a1a 0%,#333333 30%,#333333 73%,#1a1a1a 99%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #1a1a1a 0%,#333333 30%,#333333 73%,#1a1a1a 99%); /* IE10+ */
  background: linear-gradient(to right,  #1a1a1a 0%,#333333 30%,#333333 73%,#1a1a1a 99%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1a1a', endColorstr='#1a1a1a',GradientType=1 ); /* IE6-9 */
}

.whitegradient {
  background: #f1f1f1; /* Old browsers */
  background: -moz-linear-gradient(left,  #f1f1f1 0%, #ffffff 30%, #ffffff 50%, #ffffff 68%, #f1f1f1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f1f1f1), color-stop(30%,#ffffff), color-stop(50%,#ffffff), color-stop(68%,#ffffff), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #f1f1f1 0%,#ffffff 30%,#ffffff 50%,#ffffff 68%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #f1f1f1 0%,#ffffff 30%,#ffffff 50%,#ffffff 68%,#f1f1f1 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #f1f1f1 0%,#ffffff 30%,#ffffff 50%,#ffffff 68%,#f1f1f1 100%); /* IE10+ */
  background: linear-gradient(to right,  #f1f1f1 0%,#ffffff 30%,#ffffff 50%,#ffffff 68%,#f1f1f1 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#f1f1f1',GradientType=1 ); /* IE6-9 */
}

.bodygradientcont {
  background: #0063a0; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #0063a0 0%, #0063a0 44%, #003659 79%, #003659 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#0063a0), color-stop(44%,#0063a0), color-stop(79%,#003659), color-stop(100%,#003659)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #0063a0 0%,#0063a0 44%,#003659 79%,#003659 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #0063a0 0%,#0063a0 44%,#003659 79%,#003659 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #0063a0 0%,#0063a0 44%,#003659 79%,#003659 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #0063a0 0%,#0063a0 44%,#003659 79%,#003659 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0063a0', endColorstr='#003659',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.orangegradient {
  background: #f3781e; /* Old browsers */
  background: -moz-linear-gradient(left,  #f3781e 0%, #f38f1e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f3781e), color-stop(100%,#f38f1e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #f3781e 0%,#f38f1e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #f3781e 0%,#f38f1e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #f3781e 0%,#f38f1e 100%); /* IE10+ */
  background: linear-gradient(to right,  #f3781e 0%,#f38f1e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3781e', endColorstr='#f38f1e',GradientType=1 ); /* IE6-9 */

}

.orangemenu {
  background: #d16c07; /* Old browsers */
  background: -moz-linear-gradient(left,  #d16c07 0%, #fc880b 29%, #fc880b 50%, #fc880b 70%, #d16c07 100%, #d16c07 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#d16c07), color-stop(29%,#fc880b), color-stop(50%,#fc880b), color-stop(70%,#fc880b), color-stop(100%,#d16c07), color-stop(100%,#d16c07)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #d16c07 0%,#fc880b 29%,#fc880b 50%,#fc880b 70%,#d16c07 100%,#d16c07 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #d16c07 0%,#fc880b 29%,#fc880b 50%,#fc880b 70%,#d16c07 100%,#d16c07 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #d16c07 0%,#fc880b 29%,#fc880b 50%,#fc880b 70%,#d16c07 100%,#d16c07 100%); /* IE10+ */
  background: linear-gradient(to right,  #d16c07 0%,#fc880b 29%,#fc880b 50%,#fc880b 70%,#d16c07 100%,#d16c07 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d16c07', endColorstr='#d16c07',GradientType=1 ); /* IE6-9 */
}

.fadegradient {
  background: #f2f2f2; /* Old browsers */
  background: -moz-linear-gradient(left,  #f2f2f2 0%, #ffffff 21%, #ffffff 50%, #ffffff 77%, #f2f2f2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f2f2f2), color-stop(21%,#ffffff), color-stop(50%,#ffffff), color-stop(77%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #f2f2f2 0%,#ffffff 21%,#ffffff 50%,#ffffff 77%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #f2f2f2 0%,#ffffff 21%,#ffffff 50%,#ffffff 77%,#f2f2f2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #f2f2f2 0%,#ffffff 21%,#ffffff 50%,#ffffff 77%,#f2f2f2 100%); /* IE10+ */
  background: linear-gradient(to right,  #f2f2f2 0%,#ffffff 21%,#ffffff 50%,#ffffff 77%,#f2f2f2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#f2f2f2',GradientType=1 ); /* IE6-9 */
}

.fadegradient-left {
  background: #f2f2f2; /* Old browsers */
  background: -moz-linear-gradient(left,  #f2f2f2 0%, #ffffff 21%, #ffffff 50%, #ffffff 77%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f2f2f2), color-stop(21%,#ffffff), color-stop(50%,#ffffff), color-stop(77%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #f2f2f2 0%,#ffffff 21%,#ffffff 50%,#ffffff 77%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #f2f2f2 0%,#ffffff 21%,#ffffff 50%,#ffffff 77%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #f2f2f2 0%,#ffffff 21%,#ffffff 50%,#ffffff 77%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(to right,  #f2f2f2 0%,#ffffff 21%,#ffffff 50%,#ffffff 77%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.fadegradient-right {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(left,  #ffffff 21%, #ffffff 50%, #ffffff 77%, #ffffff 78%, #f2f2f2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(21%,#ffffff), color-stop(50%,#ffffff), color-stop(77%,#ffffff), color-stop(78%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #ffffff 21%,#ffffff 50%,#ffffff 77%,#ffffff 78%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #ffffff 21%,#ffffff 50%,#ffffff 77%,#ffffff 78%,#f2f2f2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #ffffff 21%,#ffffff 50%,#ffffff 77%,#ffffff 78%,#f2f2f2 100%); /* IE10+ */
  background: linear-gradient(to right,  #ffffff 21%,#ffffff 50%,#ffffff 77%,#ffffff 78%,#f2f2f2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=1 ); /* IE6-9 */
}

.greengradient {
  background: #04887b; /* Old browsers */
  background: -moz-linear-gradient(left,  #04887b 0%, #00a99d 29%, #00a99d 50%, #00a99d 70%, #04887b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#04887b), color-stop(29%,#00a99d), color-stop(50%,#00a99d), color-stop(70%,#00a99d), color-stop(100%,#04887b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #04887b 0%,#00a99d 29%,#00a99d 50%,#00a99d 70%,#04887b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #04887b 0%,#00a99d 29%,#00a99d 50%,#00a99d 70%,#04887b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #04887b 0%,#00a99d 29%,#00a99d 50%,#00a99d 70%,#04887b 100%); /* IE10+ */
  background: linear-gradient(to right,  #04887b 0%,#00a99d 29%,#00a99d 50%,#00a99d 70%,#04887b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04887b', endColorstr='#04887b',GradientType=1 ); /* IE6-9 */
}

.darkgreengradient {
  background: #013e34; /* Old browsers */
  background: -moz-linear-gradient(left,  #013e34 0%, #075848 25%, #0a5647 50%, #075848 72%, #013e34 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#013e34), color-stop(25%,#075848), color-stop(50%,#0a5647), color-stop(72%,#075848), color-stop(100%,#013e34)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #013e34 0%,#075848 25%,#0a5647 50%,#075848 72%,#013e34 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #013e34 0%,#075848 25%,#0a5647 50%,#075848 72%,#013e34 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #013e34 0%,#075848 25%,#0a5647 50%,#075848 72%,#013e34 100%); /* IE10+ */
  background: linear-gradient(to right,  #013e34 0%,#075848 25%,#0a5647 50%,#075848 72%,#013e34 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#013e34', endColorstr='#013e34',GradientType=1 ); /* IE6-9 */
}

.greygradient {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}


// titulos

.menutitle {
    display: inline-block;
    font-family: @titlefont;
    font-size: @mediumFont;
    margin-bottom: 9px;
    margin-top: 5px;
    padding: 7px 45px 4px 13px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
    text-transform: uppercase;
}


