.em-over-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    .size( 100%, 100% );
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.29);
    color: #FFF;
}

.em-modal-box {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    width: 590px;
    min-height: 300px;
    margin-left: -250px;
    margin-top: -150px;
    background-color: #FFF;
    z-index: 99999;
    .transition(height 600ms);
    padding-bottom: 13px;
    box-shadow: 0px 0px 7px 1px #808080;
    border-radius: 8px;

        .header {
            display: inline-block;
            width: 100%;
            background-color: #FFF;
            color: #6F6F6F;

            *{ display: inline-block; vertical-align: middle; }

            .close-modal-button { 
                position: absolute;
                top: 6px;
                right: 5px;
                width: 37px;
                height: 38px;
                cursor: pointer;
                z-index: 8040;
                background: url("../images/salirBton.png");
                color: transparent;
                background-repeat: no-repeat;
            }

        }

        .body {
            display: inline-block;
            padding: 35px 25px 14px;    
            text-align: center;
            font-size: 16px;
            font-weight: 300;
            background-color: #FFF;
            margin-left: 10px;
            margin-right: 10px;
            width: 87%;
            max-height: 213px;
            overflow-y: scroll; 
            margin-top: 12%;

            a{
                text-align: center;
                display: inline-block;
                width: 100px;
                height: 25px;
                padding-top: 8px;
                background-color: #FA8624;
                text-decoration: none;
                color: #FFF;
                border-radius: 5px;
                cursor: pointer;
                margin-top: 20px;

                &:hover{
                    opacity: 0.8;
                }
            }
           

            p{ 
                text-align: center;
                font-weight: bold;
                color: #2C528E;
                letter-spacing: 1px;
                font-size: 17px;
                margin-bottom: 8px;
            }
        }

}



