/**
*
* variables to use in less
*
*/

// Site Standard colors
@blanco: #fff;
@negro: #000;
@azulheader: #003659;
@azul: #00528e;
@azulclaro:#38aeca;
@azulintermedio:#3186C5;
@grisclaro: #efefef;
@grisoscuro: #333;
@gris: #666666;
@naranja: #f4901e;
@twitter: #13B6F5;
@azulindicadores: #00528F;
@grislateral: #F0F0F0;
@verde: #006837;
@verdeclaro:#40BAB1;
@azultransparente: rgba(89, 148, 190, 0.34);
@azulextract: #76A9DA;
@amarillotransparente: rgba(210, 210, 93, 0.19);
@rosatabla: #ECEDEF;



// Font size
@baseFontSize: 15px;
@tinyFont: 10px;
@smallFont: 12px;
@normalFont: 14px;
@mediumFont: 16px;
@largeFont: 18px;
@xLargeFont: 23px;
@bigFont: 25px;
@biggerFont: 32px;
@margin: 0 auto;
@otherFont: 13px;
@stitle: 20px;
@h2Font:19px;
@pfont:13px;
@menubottomf:11px;


//line height

@line: 22px;
@inter: 18px;


// Font Family
@fontbody: 'Raleway', sans-serif;
@fontbanner: 'Fjalla One', sans-serif;
@pfont: 'Open Sans', sans-serif;
@titlefont: 'Coda', cursive;
