/**
 * Sliders editor button CSS
 *
 * @package         Sliders
 * @version         3.0.7
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2012 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
.button2-left div.nn_sliders {
  background: transparent url(../images/button_right.png) no-repeat 100% 0;
}
.button2-left .blank.blank_nn_sliders a {
  padding: 0 6px;
}
