p {
	margin:0;
}

.descargue-titulo {
	color: #fff;
	background: #f4901e;
}

.resaltado-gris {color: #333;} 

.resaltado-azul {color: #00528e;}

.resaltado-naranja {color: #f4901e;}

.fila-blanca {background: #fff;}

.fila-gradacion  {background: #fff}

.fila-gradacion-izquierda {background: #fff;}

.fila-gradacion-derecha {background: #fff;}