/* webclient objects */
#lz_chat_param{background:#005593;width:100%;height:20px;text-align:center;}
#lz_form_floor{width:100%;height:100%;background-image:url('./../images/chat_bg_footer_top.gif');background-position:left bottom;background-repeat:repeat-x;}
#lz_chat_floor{width:100%;height:100%;background-color:#EEEEEE;background-image:url('./../images/chat_bg_input.gif');background-repeat:repeat-x;}
#lz_chat_floor_contents{padding-top:6px;}
#lz_chat_text{border:1px solid #303030;width:100%;height:40px;font-size:11px;font-family:verdana,arial;}
#lz_chat_misc{border-top:1px solid #c3c3c3;background-color:#e1e1e1;padding:12px;padding-top:4px;background-repeat:repeat-x;}
#lz_chat_misc TD{font-size:11px;font-family:verdana,arial;}
#lz_chat_misc SELECT{font-size:10px;font-family:verdana,arial;}
#lz_chat_misc INPUT{font-size:10px;font-family:verdana,arial;}
#lz_chat_representative{top:0px;right:9px;position:absolute;z-index:1;visibility:hidden;}
#lz_chat_submit{width:50px;height:40px;}
#lz_chat_site_title{font-size:11px;font-family:verdana,arial;color:#FFFFFF;font-weight:bold;}
#lz_chat_loading{width:100%;font-size:20px;font-family:verdana,arial;color:#b7b7b7;font-weight:bold;font-style:italic;text-align:center;}
#lz_chat_login{width:100%;height:100%;visibility:hidden;}
#lz_form_values{display:none;}
#lz_form_button{background:#ffffff;background-image:url('./../images/lz_button_extra.gif');background-repeat:no-repeat;border:0px;cursor:pointer;width:120px;height:23px;font-size:11px;padding-bottom:1px;}
#lz_form_info_field{font-size:12px;font-family:verdana,arial;padding-top:3px;}
#lz_chat_ticket_success{font-size:12px;font-family:verdana,arial;color:#787878;font-weight:bold;width:80%;}
#lz_chat_ticket_button{background:#ffffff;background-image:url('./../images/lz_button_extra.gif');background-repeat:no-repeat;border:0px;cursor:pointer;width:120px;height:23px;font-size:11px;padding-bottom:1px;}
#lz_chat_mail_groups{border:1px solid #838383;width:240px;z-index:-10;}
#lz_chat_mail_message{padding:1px;background-color:#FFFFFF;border:1px solid #838383;width:240px;height:130px;font-size:11px;font-family:verdana,arial;}
#lz_chat_mail_values{display:none;}
#lz_chat_pic{background:#F6F6F6;border:1px solid #6c6c6c;width:80px;color:#000000;overflow:hidden;}
#lz_chat_nav_border{background-image:url('./../images/chat_bg_ddown.gif');background-repeat:repeat-x;}
#lz_chat_main{margin:0px;padding:0px;width:100%;padding-bottom:5px;margin-top:0px;}
#lz_chat_main a{font-size:12px;color:#787878;font-weight:bold;text-decoration:underline;}
#lz_chat_alert_box{position:absolute;z-index:3;background:#f0f0f0;border:1px solid #808080;border-top:0px solid #808080;width:350px;background-image:url('./../images/chat_bg_footer.gif');background-repeat:repeat-x;display:none;}
#lz_chat_alert_box_text{font-size:12px;font-family:verdana,arial;padding:5px;}
#lz_chat_alert_box_title{font-family:verdana,arial;font-size:10px;color:#FFFFFF;font-weight:bold;}
#lz_chat_alert_button{background-image:url('./../images/lz_button.gif');border:0px;cursor:pointer;height:22px;width:70px;font-size:11px;font-family:verdana,arial;}
#lz_chat_file_title{position:absolute;top:21px;left:0px;z-index:2;width:60px;font-size:10px;font-family:verdana,arial;color:#727372;text-align:right;font-weight:bold;}
#lz_chat_file_name{position:absolute;top:16px;left:67px;z-index:3;width:212px;}
#lz_chat_file_load{position:absolute;top:15px;right:14px;z-index:1;visibility:hidden;}
#lz_chat_file_success{position:absolute;top:15px;right:14px;z-index:1;visibility:hidden;}
#lz_chat_file_error{position:absolute;top:15px;right:14px;z-index:1;visibility:hidden;}
#lz_chat_file_select{top:16px;left:285px;background-image:url('./../images/lz_button_wide.gif');border:0px;cursor:pointer;height:22px;position:absolute;z-index:2;width:100px;font-size:11px;}
#lz_chat_file_send{top:16px;left:390px;background-image:url('./../images/lz_button_wide.gif');border:0px;cursor:pointer;font-size:11px;height:22px;position:absolute;z-index:2;width:100px;}
#lz_chat_file_base{position:absolute;top:16px;left:134px;z-index:3;height:22px;cursor:pointer;width:250px;opacity:0;-moz-opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);}
#lz_chat_navigation_sub{width:100%;height:16px;background-image:url('./../images/chat_bg_navigation_sub.gif');background-repeat:repeat-x;}
#lz_chat_internal_fullname{font-size:11px;font-family:verdana,arial;color:#777777;font-weight:bold;margin:0px;padding:0px;}
#lz_chat_internal_groupname{font-size:11px;font-family:verdana,arial;color:#777777;}
#lz_chat_logo{position:absolute;z-index:1;margin:0px;top:0px;left:0px;}
#lz_chat_top_bg{position:absolute;z-index:0;top:0px;right:0px;margin:0px;padding:0px;}
#lz_chat_vcard_text{visibility:hidden;text-decoration:none;}
#lz_chat_error_field{visibility:hidden;width:100%;text-align:center;}
#lz_chat_border{width:100%;height:100%;background:#CACACA;margin:0px;padding:0px;}
#lz_chat_groups_loading{visibility:hidden;margin-left:10px;}
#lz_chat_body_top{border-bottom:1px solid #000000;}
#lz_chat_body_left{border-right:1px solid #000000;}
#lz_chat_body_bottom{border-top:1px solid #000000;}
#lz_chat_body_right{border-left:1px solid #000000;}
#lz_chat_body_chat_function{background:#F9F9F9;}
#lz_chat_rate_comment{font-family:verdana,arial;font-size:9px;color:#808080;border:1px solid #e0e0e0;width:100%;height:40px;}
#lz_chat_rate_button{background-image: url('./../images/lz_button.gif');border:0px;cursor:pointer;width:70px;height:22px;font-size:11px;}
#lz_chat_invitation_textarea{overflow:auto;border:none;width:185px;height:115px;font-family:verdana,arial;font-size:11px;}
#lz_chat_submit{background-image:url('./../images/lz_button_chat.gif');border:0px;cursor:pointer;width:48px;height:40px;font-size:10px;}
#lz_submit_button{background-image:url('./../images/lz_button_wide.gif');border:0px;cursor:pointer;width:100px;height:22px;font-size:11px;}
#lz_invitation_button{background-image:url('./../images/lz_button_wide.gif');border:0px;cursor:pointer;width:100px;height:22px;font-size:11px;margin-bottom:1px;}
#lz_chat_queue_position{font-weight:bold;}
#lz_chat_queue_waiting_time{font-weight:bold;}

/* index-page objects*/
.lz_index_box{background-color:#FAFAFA;border:1px solid #777777;color:#000000;}
.lz_index_inner_box{text-align:left;background-color:#FFFFFF;border:1px solid #777777;color:#000000;}
.lz_index_description_box{font-family:verdana,arial;font-size:11px;color:#000000;}
.lz_index_light_text{font-family:verdana,arial;font-size:11px;color:#808080;}

/* chat classes */
.lz_input_groups{border:1px solid #838383;width:240px;}
.lz_input{width:430px;margin-bottom:5px;}
.lz_input_header{width:430px;padding-left:8px;padding-bottom:12px;font-size:13px;font-family:verdana,arial;color:#727372;}
.lz_chat_rating_text{font-size:10px;font-family:verdana,arial;background:#F6F6F6;font-weight:bold;color:#727372;}
.lz_chat_clickable_image{cursor:pointer;}
.lz_form_box{padding:1px;background-color:#FFFFFF;border:1px solid #838383;width:240px;}
.lz_form_area{padding:1px;background-color:#FFFFFF;border:1px solid #838383;width:240px;height:130px;font-size:11px;font-family:verdana,arial;}
.lz_form_field{font-size:11px;font-family:verdana,arial;color:#747474;width:135px;height:30px;background-color:#f9f9fa;padding:6px;padding-left:15px;background-image:url('./../images/chat_bg_top_left.gif');background-repeat:no-repeat;}
.lz_form_field_empty{width:135px;height:40px;padding-left:10px;padding-top:8px;vertical-align:top;}
.lz_form_field_red{font-size:11px;font-weight:bold;font-family:verdana,arial;color:#c40000;width:135px;height:30px;background-color:#f9f9fa;padding:6px;padding-left:15px;background-image:url('./../images/chat_bg_top_left.gif');background-repeat:no-repeat;}
.lz_chat_login{font-family:verdana,arial;font-size:12px;font-weight:bold;visibility:hidden;}
.lz_chat_main_link{font-size:10px;font-family:verdana,arial;color:#FFFFFF;font-weight:bold;text-decoration:none;line-height:20px;}
.lz_chat_internal_file_link{font-family:verdana,arial;color:#868686;font-size:9px;font-weight:normal;text-decoration:none;}
.lz_message_a_title{font-family:verdana,arial;color:#ffffff;font-weight:bold;font-size:10px;}
.lz_message_a_time{font-family:verdana,arial;color:#ffffff;font-weight:bold;font-size:10px;}
.lz_message_b_title{font-family:verdana,arial;color:#7a7a7a;font-weight:bold;font-size:10px;}
.lz_message_b_time{font-family:verdana,arial;color:#8d8d8d;font-weight:bold;font-size:10px;}
.lz_message_text{font-family:verdana,arial;color:#333333;font-weight:normal;font-size:13px;}
.lz_message_translation{font-family:verdana,arial;border-left:0px solid #99ccff;margin-top:4px;padding-left:5px;color:#808080;font-style:italic;font-size:11px;}

/* index classes */
.lz_index_help_text{text-align:left;font-family:verdana,arial;font-size:11px;color:#6c6c6c;}
.lz_index_red{font-family:verdana,arial;color:#c40000;font-weight:bold;font-size:11px;}
.lz_index_howto_cat{font-family:verdana,arial;color:#5C5C5C;font-size:11px;font-weight:bold;}
.lz_index_error_cat{font-family:verdana,arial;color:#3A3A3A;font-size:11px;font-weight:bold;}
.lz_index_helplink{font-family:verdana,arial;font-size:10px;font-weight:bold;color:#7F7F7F;text-decoration:underline;}
.lz_index_link{font-family:verdana,arial;font-size:11px;font-weight:bold;color:#7BB05D;text-decoration:none;}
.lz_index_link:hover{font-family:verdana,arial;font-size:11px;font-weight:bold;color:#808080;text-decoration:none;}

/* chat classes */
.lz_chat_navigation{
	background: #0071b9; /* Old browsers */
	background: -moz-linear-gradient(top,  #0071b9 0%, #00528f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0071b9), color-stop(100%,#00528f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0071b9 0%,#00528f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0071b9 0%,#00528f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0071b9 0%,#00528f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0071b9 0%,#00528f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0071b9', endColorstr='#00528f',GradientType=0 ); /* IE6-9 */
	width:100%;
	height:30px;border-top:0px solid #8F8F8F;border-bottom:0px solid #8F8F8F;}
