body{background-color:#2e538b} 
h1 { color: #00528e;     font-family: 'Coda',cursive;     font-size: 28px; } 
h2 { color: #db8e2f;     font-family: 'Coda',cursive;     font-size: 16px; } 
a { color: #db8e2f; font-style:italic; margin-bottom:10px; display: inline-block; } 
.acymailing_unsub {color: #db8e2f; font-style:italic; text-decoration:underline;} 
.acymailing_readmore {color: #db8e2f; font-style:italic;} 
a img{ border:0px; text-decoration:none;} 
table, div, p{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#666666;
}
.intro{
	font-weight:bold;
	font-size:12px;}

.acyfooter a{
	color:#575757;}

@media (max-width: 450px){
	table[class=w600], td[class=w600], table[class=w540], td[class=w540], img[class=w600]{ width:100% !important; }
	table[class=w30], td[class=w30]{ width:20px !important; }
	.pict img {max-width:260px; height:auto !important;}
}

@media (min-width: 450px) and (max-width: 600px){
	table[class=w600], td[class=w600], table[class=w540], td[class=w540], img[class=w600]{ width:100% !important; }
	table[class=w30], td[class=w30]{ width:20px !important; }
	.pict img {max-width:410px; height:auto !important;}
}

@media (min-width:600px){
	body {width:600px !important; margin:auto !important;}
	.pict img {max-width:540px !important;  height:auto !important;}
}
