/**
 * @package    AcyMailing for Joomla!
 * @version    4.4.1
 * @author     acyba.com
 * @copyright  (C) 2009-2013 ACYBA S.A.R.L. All rights reserved.
 * @license    GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
 */

div.acymailing_module, .acymailing_module div{
	padding: 0 !important;
	margin: 0 !important;
	border-style:none !important;
}

table.acymailing_form{
	margin:auto;
	border:0px !important;
}

a.acymailing_togglemodule{
	display : block;
	font-size:5px;
	color: transparent;
	background: url("../../../images/inicio/icono-mail.png") no-repeat;
	width: 36px;
	height: 26px;
	display: inline-block;
	margin-top: 7px;
}

.acymailing_mootoolsbutton p{
	text-align:center;
}

.acysubbuttons{
	text-align:center;
}

.acysubbuttons input {
	font-family: "Coda",cursive;
    font-size: 12px;
    background: none repeat scroll 0 0 #f4901e;
    border: 0 none;
    border-radius: 3px;
    padding: 3px 14px;
    color: #fff;
    cursor: pointer;

}

img.captchaimagemodule{
	border:1px solid #dddddd;
	float: left;
}

.captchakeymodule .captchafield{
	margin-top:3px;
	margin-left:2px;
}

.acymailing_fulldiv tr, .acymailing_fulldiv td{
	border:0px;
}

.acymailing_module_form td {
	padding-bottom: 5px;
	vertical-align:top;
}

div.acymailing_module_error {
	color: #400;
	background-color: #fdd;
	padding: 1em !important;
	margin-bottom:10px;
}

div.acymailing_module_success {
	color: #130;
	background-color: #dfc;
	padding: 1em !important;
	z-index: 10;
	margin-bottom:10px;
}

.acymailing_module_form .acymailing_introtext{
	padding-bottom:10px;
	display:block;
	color: #00528e;
	font-family: "Coda",cursive;
}

.onelist {
	display: inline-block;
	margin: 0 0 7px 0;
	width: 100%;
}

.onelist label a {
	font-family: "Open Sans",sans-serif;
	color: #666666;
	font-size: 12px;
}

.onelist label {
	width: 78%;
	float: left;
}

.onelist input {
	width: 10%;
	float: left;
}

.onelist > * {display: inline-block; vertical-align: top;}
